<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Bem-vindo ao BookApp!</ion-card-title>
      <ion-card-subtitle>Gerencie sua biblioteca usando o melhor app do mercado!</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Cadastre seus livros e autores favoritos e tenha-os sempre mão.
    </ion-card-content>
  </ion-card>
  <ion-list lines="none">
    <ion-list-header>
      Acesse aqui
    </ion-list-header>
    <ion-item>
      <ion-icon slot="start" name="book"></ion-icon>
      <ion-label>Livros</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="people-circle-outline"></ion-icon>
      <ion-label [routerLink]="['/autores']">Autores</ion-label>
    </ion-item>
  </ion-list>
</ion-content>