<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Gerencie sua biblioteca usando o maior app do mercado.</ion-card-subtitle>
      <ion-card-title>Bem vindo ao Book-app!</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Cadastre seus livros e autores favoritos e tenha-os sempre em mãos.
    </ion-card-content>
  </ion-card>
  <ion-list lines="none">
    <ion-list-header>
      Acesse aqui!
    </ion-list-header>
    <ion-item>
      <ion-icon slot="start" name="book"></ion-icon>
      <ion-label>Livro</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="people-circle-outline"></ion-icon>
      <ion-label>Autores</ion-label>
    </ion-item>
  </ion-list>
</ion-content>

